<h2>Domain Whitelist Manager</h2>


<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Add Domain to Whitelist</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <p>Please input the domain in order to add it to the domain whitelist.</p>

    <form (ngSubmit)="saveDomain()"
          [formGroup]="domainWhitelistForm"
          #formDir="ngForm"
          class="form-signin form-signin-wide"
          autocomplete="off">

      <div class="form-group row">
        <label for="domain" class="col-2 col-form-label">Domain</label>
        <div class="col-10">
          <input type="text" class="form-control" id="domain"
                  name="domain"
                  formControlName="domain"
                  autofocus>
        </div>
      </div>
      </form>

  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-outline-primary"
          [disabled]="formDir.invalid"
          (click)="saveDomain()">Save Domain</button>
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
  </div>
</ng-template>

<button class="btn btn-success" (click)="open(content)">Add Domain</button>


<table class="table table-hover">
  <tr
    *ngFor="let domain of authService.domainWhitelist"
    (click)="selectUser(account.username)"
    class="clickable-row"
    >
    <td>{{domain}}</td>
    <td>Delete</td>
  </tr>
</table>
