<h1>Welcome to the LEP Setup guide</h1>


<nav class="nav nav-pills nav-justified">
  <a class="nav-link" routerLink="auth" [routerLinkActive]="['active']">Step 1 Auth</a>
  <a class="nav-link" routerLink="admin" [routerLinkActive]="['active']">Step 2 Create Admin User</a>
  <a class="nav-link" routerLink="database" [routerLinkActive]="['active']">Step 3 Create Database</a>
  <a class="nav-link" routerLink="finish" [routerLinkActive]="['active']">Step 4 Finish</a>
</nav>

<div class="spacer1"></div>

<router-outlet></router-outlet>
