<h2>Account manager</h2>


<app-edit-user adminMode="true"></app-edit-user>


<table class="table table-hover">
  <tr>
    <th>Username</th>
    <th>Real Name</th>
    <th>Account type</th>
    <th>Accountstate</th>
  </tr>
  <tr
    *ngFor="let account of accountList"
    [class.table-success]="account.accountstate=='active'"
    (click)="selectUser(account.username)"
    class="clickable-row"
    >
    <td>{{account.username}}</td>
    <td>{{account.realname}}</td>
    <td>{{account.accounttype}}</td>
    <td>{{account.accountstate}}</td>
  </tr>
</table>
