<!doctype html>
<html lang="en">

<head>
  <!-- source: http://getbootstrap.com/docs/4.0/examples/navbar-top/ -->
  <title>Aionda LEP</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <script data-main="js/main" src="node_modules/requirejs/require.js"></script>

  <!-- Ladda CSS -->
  <link rel="stylesheet" href="/node_modules/ladda-bootstrap/dist/ladda-themeless.min.css">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">

  <link href="css/login.css" rel="stylesheet">
</head>

<body>
  <div id="app">
    <!-- Modals -->

    <!-- Login Modal -->
    <div class="modal fade bd-example-modal-sm" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Please sign in</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
            <form id="loginForm" class="form-signin">
              <!--<h2 class="form-signin-heading">Please sign in</h2>-->
              <label for="inputEmail" class="sr-only">Email address</label>
              <input id="inputEmail" class="form-control" placeholder="Email address" required>
              <label for="inputPassword" class="sr-only">Password</label>
              <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
              <div id="alertLoginSuccess" class="alert alert-success" role="alert">
                Login successful!
              </div>
              <div id="alertLoginFailure" class="alert alert-danger" role="alert">
                Wrong username or password.
              </div>
              <button id="signInButton" class="btn btn-lg btn-primary btn-block ladda-button" data-style="expand-left" type="submit"><span class="ladda-label">Sign in</span></button>
              <!--<button id="signInButton" class="btn btn-lg btn-primary btn-block ladda-button" type="submit" data-style="expand-left" data-size="xs"><span class="ladda-label">Sign in</span></button>-->
            </form>
          </div>
          <!--
                      <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">{{i18n.cancel[page.lang]}}</button>
                          <button id="deleteModalDeleteButton" type="button" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i> {{i18n.delete[page.lang]}}</button>
                      </div>
                    -->
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->


    <!-- Create account Modal -->
    <div class="modal fade bd-example-modal-sm" id="createAccountModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Create account</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
            <form id="createAccountForm" class="form-signin">
              <label for="createAccountInputEmail" class="sr-only">Email address</label>
              <input id="createAccountInputEmail" class="form-control" placeholder="Email address" required>
              <label for="createAccountInputPassword" class="sr-only">Password</label>
              <input type="password" id="createAccountInputPassword" class="form-control" placeholder="Password" required>
              <div v-if="createAccountModal.error" id="alerCreateAccountFailure" class="alert alert-danger" role="alert">
                {{ createAccountModal.errorMessage }}
              </div>
              <button id="createAccountButton" class="btn btn-lg btn-primary btn-block ladda-button" data-style="expand-left" type="submit"><span class="ladda-label">Create Account</span></button>
            </form>
          </div>
          <!-- /.modal-body -->
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->


    <nav v-cloak class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
      <a class="navbar-brand" href="#">Aionda LEP</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
        </ul>
        <!--<form class="form-inline mt-2 mt-md-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>-->
        <button id="showCreateAccountModalButton" class="btn btn-info" data-toggle="modal" data-target="#createAccountModal">Register</button>
        <button id="showLoginModalButton" class="btn btn-info" data-toggle="modal" data-target="#loginModal">Login</button>
        <button id="logoutButton" class="btn btn-danger" style="display:none;">Logout</button>
        <!--<a href="/login/" class="btn btn-info" role="button">Login</a>-->
      </div>
    </nav>

    <main role="main" class="container">
      <div class="jumbotron">

        <div id="loadingAnimation">
          <h1>Loading the LEP...</h1>
          <img width="100px" src="assets/loading-spin.svg" alt="Loading icon" />
        </div>

        <div v-cloak v-if="!user.isLoggedIn">
          <h1>Welcome to the LEP!</h1>
          <p>Insert short introduction</p>
        </div>

        <div v-cloak v-if="user.isLoggedIn">
          <h1>Welcome {{ user.name }}!</h1>
          <ul>
            <li>Your account has <strong>{{ user.accountType }}</strong> privileges</li>
            <li>Your login expires <span v-html="user.logoutInDuration"></span></li>
            <li>Your last login occured at {{ user.lastLogin }}</li>
          </ul>
          <button v-on:click="testRestrictedAPI" class="btn btn-danger">Request restricted content</button>
          <br>
          {{ restrictedContent }}
        </div>
      </div>
    </main>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <!--  <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

    <script src="/node_modules/vue/dist/vue.min.js"></script>
    <script src="/node_modules/ladda-bootstrap/dist/spin.min.js"></script>
    <script src="/node_modules/ladda-bootstrap/dist/ladda.min.js"></script>

    <script src="/node_modules/timeago/jquery.timeago.js"></script>
-->
  <!--  <script src="/js/index.js"></script>-->
  </div>

</body>

</html>
